<?xml version="1.0"?>

<config>
    <modules>
        <PaulMillband_ManageProductUrlKey>
            <version>0.1.0</version>
        </PaulMillband_ManageProductUrlKey>
    </modules>
    <global>
        <blocks>
            <paulmillband_ManageProductUrlKey>
                <class>PaulMillband_ManageProductUrlKey_Block</class>
            </paulmillband_ManageProductUrlKey>
        </blocks>
        <helpers>
            <paulmillband_ManageProductUrlKey>
                <class>PaulMillband_ManageProductUrlKey_Helper</class>
            </paulmillband_ManageProductUrlKey>
        </helpers>
        <models>
            <paulmillband_ManageProductUrlKey>
                <class>PaulMillband_ManageProductUrlKey_Model</class>
            </paulmillband_ManageProductUrlKey>
        </models>
    </global>

    <!-- frontend layout updates -->
    <frontend>
        <layout>
            <updates>
                <paulmillband_ManageProductUrlKey>
                    <file>paulmillband/ManageProductUrlKey.xml</file>
                </paulmillband_ManageProductUrlKey>
            </updates>
        </layout>
    </frontend>

    <!-- adminhtml layout updates -->
    <adminhtml>
        <layout>
            <updates>
                <paulmillband_ManageProductUrlKey>
                    <file>paulmillband/ManageProductUrlKey.xml</file>
                </paulmillband_ManageProductUrlKey>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <paulmillband_ManageProductUrlKey>
                        <!-- Add column to catalog product grid -->
                        <class>PaulMillband_ManageProductUrlKey_Model_Adminhtml_Observer</class>
                        <method>onBlockHtmlBefore</method>
                    </paulmillband_ManageProductUrlKey>
                </observers>
            </adminhtml_block_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <paulmillband_ManageProductUrlKey>
                        <!-- Add column to product list -->
                        <class>PaulMillband_ManageProductUrlKey_Model_Adminhtml_Observer</class>
                        <method>onEavLoadBefore</method>
                    </paulmillband_ManageProductUrlKey>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
</config>